# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:
### - List of some of the popular languages used by Data Scientists.
### - List of some of the commonly used libraries by Data Scientists.
### - Some development environment open source tools used in data science.

## Some of the popular languages that Data Scientists use are:Â¶
### 1.Python
### 2.R language
### 3.Java

## Some of the commonly used libraries used by Data Scientists include:
### 1.NumPy
### 2.Pandas
### 3.Matplotlib
### 4.Seaborn

| Data Science Tools |
|--------------------|
| Apache Hadoop |
| Apache Spark |
| Apache Flink |

### Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
# This is simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [16]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
## Arjun Maddipatla